.settings
.classpath
.project
.metadata
/TestdataGenerator/bin
/TestdataGenerator/target
/TestdataGenerator/*.txt
/test
/test/*
*.jar
*.pdf
*.class
.DS_Store
*.log
*.aux
*.toc
*.bbl
*.blg
*.swp
*.aux.make
*.auxbbl.make
*.auxbbl.make.temp
*.auxtarget.make
*.d
*.fls
*.tex.backup
*.tex~
coffee.exe
compile.bat
/web/js/*.js
docs/*.html
docs/*.css
tpplib.coffee
